header,
section
  display: flex

header
  align-items: center

section
  width: 50%

aside
  flex: 1 1 30%

.content
  flex: 1 1 70%

header
  justify-content: space-between

.b-info-text
  span + span
    margin-left: 10px