<header>
  <h2 title="Current menu">Menu 1</h2>
  <div class="b-info-text">
    <span>Total selected: 2</span>
    <span>Total price: 70$</span>
  </div>
</header>
<section>
  <aside>
    <ul>
      <li><a href="">Menu 1</a></li>
      <li><a href="">Menu 2</a></li>
    </ul>
  </aside>
  <div class="content">
    <ul class="list-items">
      <li class="list-item"><label><input type="checkbox">Item 1</label> <span>50$</span></li>
      <li class="list-item"><label><input type="checkbox"> Item 2</label> <span>70$</span></li>
      <li class="list-item"><label><input type="checkbox"> Item 3</label> <span>60$</span></li>
      <li class="list-item"><label><input type="checkbox"> Item 4</label> <span>4$</span></li>
      <li class="list-item"><label><input type="checkbox"> Item 5</label> <span>5$</span></li>
      <li class="list-item"><label><input type="checkbox"> Item 6</label> <span>6$</span></li>
      <li class="list-item"><label><input type="checkbox"> Item 7</label> <span>70$</span></li>
      <li class="list-item"><label><input type="checkbox"> Item 8</label> <span>80$</span></li>
      <li class="list-item"><label><input type="checkbox"> Item 9</label> <span>9$</span></li>
      <li class="list-item"><label><input type="checkbox"> Item 10</label> <span>10$</span></li>
    </ul>
  </div>
</section>